doctype html
html
  head
    title
      block title
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src='/js/main.js')
  body#content
    include partials/sidebar.pug
    div#supmain
      .layside
        include partials/second-sidebar.pug
      div#supsubmain.laycont
        header#page-header
          block second-header
        main#main
          block content