extends ../layout

block title
  | Home Page

block header
  | Home Page

block content
  h1 🍁 Ategon
  p Canadian indie game developer
  p Welcome to my site! Here you can find anything relating to what I do on the internet including projects I work on, blog posts I write, sites I find interesting, my social medias, etc.
  .small-spacer
  p I stream every Monday Wednesday and Friday on my Twitch, participate in game jams such as Ludum Dare, Brackeys, and GMTK, help out with constructing a forum and link aggregator called Sublinks, and work on a larger game mostly solo called Vuladune.
  .spacer
  figure
    img(src="/images/ottawa.jpg", alt="An image of Parliament Hill in Ottawa, Canada.")
    figcaption Parliament Hill in Ottawa, Canada